<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.unifor.alunor17.agenda">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:label="Agenda"
        android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar">
        <activity android:name=".activity.InicialActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.ContatosActivity"
            android:label="Meus Contatos" />

        <activity android:name=".activity.ListaActivity"></activity>
    </application>

</manifest>